@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #070707;
}
/* Typing text animation */
.typing-text {
  width: 0;
  overflow: hidden;
  border-right: 3px solid white;
  white-space: nowrap;
  animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Logo bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-10px) translateX(-50%);
  }
}

.logo-animation {
  animation: bounce 2s infinite;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Styles for the scrollbar */
.scrollable-content {
  max-height: 90vh;
  overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar {
  width: 6px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent;
}

.letter{
  background-image: url("/public/img11.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

